.contact {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 4rem auto 0 auto;
    background-color: var(--gray-one);
    gap: 5lvh;
    padding: 3lvw 3lvw 0 3lvw;
}

.contact h1 {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}

.address {
    color: var(--white);
    display: grid;
    gap: 3lvh;
    border: solid var(--white) 2px;
    padding: 2rem;
    border-radius: 0.8rem;
    text-align: center;
}

.address i {
    font-size: 3rem;
}

.address p {
    font-size: 1rem;
}

.talkToUs {
    margin: 5lvh auto;
    min-width: 80lvw;
    max-width: 80lvw;
    text-align: center;
    display: grid;
    gap: 4lvh;
    color: var(--white);
}

.talkToUs div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.talkToUs .messageDiv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4lvw;
    text-align: left;
}

.messageDiv textarea {
    border-radius: 0.5rem;
    background-color: var(--gray-two);
    color: var(--white);
    min-height: 1.5rem;
    outline: none;
    border: solid var(--white) 2px;
    padding: 2lvw;
}

.talkToUs input {
    min-width: 50lvw;
    max-width: 50lvw;
    border-radius: 0.5rem;
    background-color: var(--gray-two);
    color: var(--white);
    min-height: 1.5rem;
    outline: none;
    /* border: solid var(--white) 2px; */
    padding: 2lvw;
}

.submitBtn {
    max-width: fit-content;
    padding: 2lvw;
    margin: 0 auto;
    outline: none;
    border: none;
    background-color: var(--white);
    color: var(--gray-one);
    border-radius: 0.8rem;
}

.submitBtn:disabled {
    background-color: var(--gray-one);
    color: var(--gray-two);
}

@media (orientation: landscape) and (max-width: 690px) {

    .contact {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .address {
        min-width: 40lvw;
        max-width: 40lvw;
        margin:  0 auto;
    } */

    .contact h1,
    .address:nth-child(4),
    .talkToUs {
        grid-column: span 2;
    }

}

@media (min-width: 700px) {

    .contact {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .contact h1 {
        grid-column: span 3;
    }

    .address {
        grid-column: span 1;
    }

    .address p {
        cursor: pointer;
        max-width: fit-content;
        margin: auto;
        padding: 0.5rem;
        border-radius: 1rem;
    }

    .address p:hover {
        color: var(--gray-one);
        background-color: var(--white);
    }

    .talkToUs {
        grid-column: span 3;
    }


    
}