.entryImages {
    min-width: 100svw;
    min-height: 100svh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: url('/Images/quatro-vazio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: var(--gray-one); */
    position: relative;
    margin: 10lvh auto;
    border-image: linear-gradient(90deg, var(--black-two), var(--brown-two)) fill 1;
}

.entryImages p:nth-of-type(1) {
    font-weight: bold;
    font-size: 3rem;
    color: var(--white);
    /* position: absolute; */
    bottom: 15lvh;
    text-align: center;
}

.entryText p:nth-of-type(2) {
    font-size: 2rem;
    color: var(--gray-one);
}

.product-image {
    min-height: 60lvw;
    min-width: 60lvw;
    max-width: 60lvw;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 1rem;
}

.product-box-presentation:nth-child(odd) {
    background-color: var(--white);
    color: var(--gray-one);
}

.product-box-presentation:nth-child(even) {
    background-color: var(--gray-one);
    color: var(--white);
}

.product-box-presentation {
    display: grid;
    background-color: var(--white);
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}

@media (orientation: landscape) and (max-width: 670px) {

    .product-box-presentation {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .product-box-presentation h1 {
        grid-column: span 3;

    }

    .product-box-presentation p {
        grid-column: span 2;
    }

    .product-image {
        min-height: 30lvw;
        max-height: 60lvh;
        min-width: 50lvw;
        max-width: 50lvw;
    }

}