.entryImages {
    min-width: 100lvw;
    min-height: 100svh;
    /* background: url('./src/assets/EntryImage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: var(--gray-one);
    display: grid;
    justify-content: center;
    align-items: center;
   
}

/* .entryImages img {
    opacity: 0.5;
    min-width: 100lvw;
    min-height: 100svh;
    object-fit: cover;
    max-width: 100lvw;
    position: relative;
} */

.entryText {
    position: absolute;
    min-height: 80lvh;
    display: grid;
    text-align: center;
    color: var(--white);
}

.entryText p:nth-of-type(1) {
    font-weight: bold;
    font-size: 2rem;
}

.entryText p:nth-of-type(2) {
    font-size: 1.5rem;
}