.entryImages {
    min-width: 100svw;
    min-height: 100svh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: url('/public/Images/frente-de-loja.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--gray-one);
    position: relative;
    margin: 10lvh auto;
}

.entryImages p:nth-of-type(1) {
    font-weight: bold;
    font-size: 3rem;
    color: var(--white);
    position: absolute;
    bottom: 15lvh;
    text-align: center;
}

.entryText p:nth-of-type(2) {
    font-size: 2rem;
    color: var(--gray-one);
}

.product-image {
    max-width: 60lvw;
    object-fit: cover;
    margin: 0 auto;
}

.product-box-presentation:nth-child(odd) {
    background-color: var(--white);
    color: var(--gray-one);
}

.product-box-presentation:nth-child(even) {
    background-color: var(--gray-one);
    color: var(--white);
}

.product-box-presentation {
    display: grid;
    background-color: var(--white);
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}