.header {
    min-width: 100lvw;
    max-width: 100lvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: var(--white);
}

#logoImg {
    object-fit: cover;
    max-width: 8vh;
}

.companyName {
    color: var(--brown);
}

.menu-list {
    position: fixed;
    top: 10vh;
    right: 0;
    transition: 500ms;
    min-width: 80vw;
    min-height: fit-content;
    display: grid;
    gap: 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--gray-one);
    z-index: 999;
}

.menu-list li {
    list-style: none;
    border: var(--gray-one) solid 2px;
    margin: 0 auto;
    min-width: 80vw;
    min-height: calc(50vh/5);
    background-color: var(--gray-two);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-options-disabled {
    right: -100vw;
    transition: 500ms;
}

