.header {
    min-width: 100lvw;
    max-width: 100lvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: var(--white);
}

#logoImg {
    object-fit: cover;
    max-width: 8vh;
}

.companyName {
    color: var(--brown);
}

.navbar {
    position: fixed;
    top: 10vh;
    right: -100vw;
    bottom: 0;
    transition: 500ms;
    min-width: 80vw;
    min-height: 100svh;
    max-height: 100svh;
    display: grid;
    gap: 0;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--gray-one);
    z-index: 999;
}

.menu-options-enabled {
    right: 0;
    transition: 500ms;
}

