.about {
    color: var(--gray-one);
    background-color: var(--white);
    display: grid;
    text-align: center;
    gap: 2.1rem;
    margin: 2rem auto;
}

.about h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.aboutImage {
    object-fit: cover;
    max-width: 100lvw;
    max-height: 50lvh;
    border-radius: 1rem;
}