.header {
    min-width: 100lvw;
    max-width: 100lvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--white);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2lvw;
}

#logoImg {
    object-fit: cover;
    max-width: 8lvh;
}

.companyName {
    color: var(--brown);

}

.navbar {
    position: fixed;
    top: 10vh;
    right: -100vw;
    bottom: 0;
    transition: 1000ms;
    min-width: 100lvw;
    min-height: 100svh;
    max-height: 100svh;
    display: grid;
    gap: 0;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--gray-one);
    z-index: 9;
}

.openMenu {
    right: 0;
    transition: 1500ms;
}

ul {
    display: grid;
    justify-content: center;
    align-items: center;
}

li {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    min-height: calc(50lvh/5);
    font-weight: bold;
    padding: 8lvw;
    font-size: 1.2rem;
    margin: 0 auto;
}

a {
    color: var(--white);
    text-decoration: none
}

@media (orientation: landscape) and (max-width: 690px) {

    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        padding: 0;
        position: initial;
        max-height: fit-content;
        align-items: center;
        justify-content: center;
    }

    .logo {
        grid-column: span 2;
        justify-content: center;
    }

    .navbar {
        grid-column: span 2;
        position: initial;
        margin: 0 auto;
        min-width: 80lvw;
        max-width: fit-content;
        min-height: fit-content;
        background-color: var(--white);
    }

    .navbar ul {
        display: flex;
        max-width: 100lvw;
        /* justify-content: space-around; */
        gap: 1rem;
        margin: 0 auto;
     
    }
    
    .navbar li {
        min-height: 1rem;
        max-height: fit-content;
        padding: 0;
        background-color: var(--white);
        color: var(--gray-one);
    }

    a {
        color: var(--gray-one);

    }
    
    .fa-ellipsis {
        display: none;
    }


}

@media (min-width: 700px) {
    
    .header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        position: initial;
        max-height: fit-content;

    }

    .logo {
        grid-column: span 2;
    }

    .navbar {
        position: initial;
        margin: 0 auto;
        min-width: 80lvw;
        max-width: min-content;
        min-height: fit-content;
        background-color: var(--white);
    }
    
    
    .navbar ul {
        display: flex;
        max-width: min-content;
        /* justify-content: space-around; */
        gap: 1rem;
        margin: 0 auto;
     
    }
    
    .navbar li {
        min-height: 1rem;
        max-height: fit-content;
        padding: 0;
        background-color: var(--white);
        color: var(--gray-one);
    }

    a {
        color: var(--gray-one);
    }

    .fa-ellipsis {
        display: none;
    }
}