#root {
  min-width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --brown: rgba(54, 34, 34);
  --black: rgba(23, 16, 16);
  --brown-two: rgba(54, 34, 34, 0.6);
  --black-two: rgba(23, 16, 16, 0.6);
  --gray-one: rgb(66, 63, 62);
  --gray-two: rgb(43, 43, 43);
  --white:  rgb(254, 250, 246);
  --red: rgb(255,0,0);
}